    .boton {
        background-color: $tangerine;
        color: $white;
        margin-top: 10px;
        @media (min-width: 768px) {
            position: relative;
            right: 3rem;
            bottom: 15px;
        }
    }
    
    .boton:hover {
        background-color: $white;
        color: $black;
    }