    .boton {
        background-color: $tangerine;
        color: $white;
        border-radius: 5px;
        padding: 5px 10px;
    }
    
    .boton:hover {
        background-color: $white;
        color: $black;
    }