footer {
    background-color: $black;
    color: $white;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 0;
    @media(min-width: 768px) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem 0;
    }
}

.derechos {
    display: inline-block;
}

.derechos__text {
    padding: 0 2rem;
    @media (min-width: 768px) {
        display: inline-block;
    }
}

.anuncios {
    text-align: center;
    @media (min-width: 768px) {
        margin-right: 5%;
        display: flex;
        justify-content: end;
    }
    &__enlace {
        color: $white;
        @media (min-width: 768px) {
            margin-right: 2rem;
        }
    }
}

.anuncios__enlace:hover {
    color: $tangerine;
}

.form-inline {
    justify-content: center;
}

.form-control {
    margin: 0 1rem;
}

.form-control:hover {
    background-color: $tangerine;
}